{% extends 'user/base.html' %}
{% block body %}
<h1 class="text-2xl font-bold m-10">🔑Change Password</h1>
<div class="container py-5 mx-10">
    <div class=" error-container text-red-500 px-10">
        {% if form.errors %}
            {% for field in form %}
                {{field.errors}}
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="container mx-5 my-10">
    <form method="post" class="shadow-md m-10 px-8 pt-6 pb-8 mb-4 rounded w-4/5" enctype="multipart/form_data">
        {% csrf_token %}
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold" for="">Old Password</label>  
            <div class="shadow appearance-none border rounded mr-10 px-3 py-2 text-gray-700">
                {{form.old_password}}
            </div>
        </div>
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold " for="">New Password</label>
            <div class="shadow appearance-none border rounded text-gray-700 mr-10 px-3 py-2">
                {{form.new_password1}}
            </div>
        </div>
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold " for="">Confirm New Password</label>
            <div class="shadow appearnce-none border rounded text-gray-700 mr-10 px-3 py-2">
                {{form.new_password2}}
            </div>
        </div>
        <button type="submit" class="bg-green-500 text-white my-5 px-5 py-3">Submit</button>
    </form>
</div>
    {{form.as_p}}
{% endblock %}