{% extends 'user/base.html' %}
{% load mathfilters %}
{% load static %}
{% block body %}
<div class="flex mt-5 p-10 justify-center">
    <h2 class="text-3xl text-gray-500 font-normal mb-2" >My posts</h2>
</div> 
<div class="grid mx-60 p-10 grid-cols-1">
    {% for post in posts %} 
    <!--Cards start here-->
    <a href="#">
        <div class="rounded overflow-hidden w-[470px] h-[470px] bg-white shadow-lg">
            <div class="user-container flex mx-5 my-5">
                <img class="w-10 h-10 rounded-full" src="{{post.user.profile.photo.url}}" alt="">
                <div class="mx-2 my-2 font-bold"> <span class="text-indigo-500">{{post.user}}</span> </div>
            </div>
            <img src="{{post.image.url}}" alt="no image">
        </div>
   
        <div class="px-6 py-4">
            <div class="icon-container flex gap-3">
                <a id="{{post.id}}" class="btn-like">
                    {% if logged_user in post.liked_by.all %}
                    <img class="w-5 h-5" src="{% static 'user/images/redlike.png' %}" alt="">
                    {% else %}
                    <img class="w-5 h-5" src="{% static 'user/images/whitelike.png' %}" alt="">
                    {% endif %}
                </a>
               
                <img id="image" class="w-5 h-5" src="{% static 'user/images/comment.png' %}" alt="">
                <img class="w-5 h-5" src="{% static 'user/images/share.png' %}" alt="">
            </div>
        </div>
        <div>
            {% if post.liked_by.count < 1 %}
            {% elif post.liked_by.count == 1 %}
                {{post.liked_by.first}} likes this
            {% elif post.liked_by.count > 1 %}
                {{post.liked_by.first}}& {{post.liked_by.count|sub:1}} other like this
            {% endif %}
        </div>
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{post.title}}</div>
            <p class="text-gray-700 text-base">{{post.caption}}</p>
        </div> 
        <div id="comment_body" class="px-5 py-5">
            {% for comment in post.comments.all %}
                <b>{{comment.posted_by}}:</b>{{comment.body}}
                </br>
            {% endfor %}
        </div>  
        <div id="comment_form" class="px-5 py-5"> 
            <form method="post" class="bg-white rounded">
                {% csrf_token %}
               <div class="flex">
                <div class="border mr-10 text-gray-700">
                    {{commentform.body}}
                </div>
               
                    <input type="hidden" name="post_id" id="post_id" value="{{post.id}}">
                    <input type="hidden" name="posted_by" id="posted_by" value="{{logged_user}}">
                
                    <button class="bg-green-500 text-white px-5 py-1 mt-2" type="submit">Add</button>
               </div>
            </form>
        </div>        
    </a>
    <!--Cards end here-->
    {% endfor %}
</div>
<script type="text/javascript">
    console.log('This is console');
    window.CSRF_TOKEN="{{ csrf_token }}"
    $(document).on('click','.btn-like',function(){
        console.log(this.id)
        var post_id=this.id
        $.ajax({
            method:"POST",
            url:'/posts/like',
            data:{post_id:post_id,csrfmiddlewaretoken:window.CSRF_TOKEN},
        })
        window.location.href="http://127.0.0.1:8000/posts/feed"
    })
        
    $(document).ready(function(){
        $('#image').on('click',function(){
            $('#comment_body').toggle();
            $('#comment_form').toggle(); 
        })
    })

</script>
{% endblock %}

